.youtube {
  width: 560px;
  height: 315px;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}

.postCard {
  margin-right: 25%;
  @media only screen and (max-width: 800px) {
    margin-right: 1em;
    margin-left: -1em;
  }
}
