.postTitle {
  font-size: 60px;
  color: purple;
  @media only screen and (max-width: 800px) {
    font-size: 36px;
    color: orange;
  }
}

.youtube {
  width: 50%;
  height: 315px;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}
